<div class="col-md-6 col-md-offset-3">
<%= form_for @quote do |f| %>
    <%= f.label :Quote %>
    <%= f.text_area :content %>
    <%= f.fields_for :creator, @quote.creator do |c| %>
      <%= c.label :creator %>
      <%= c.text_field :creator %>
    <% end %>
    <%= f.fields_for :source, @quote.source do |s| %>
      <%= s.label :source %>
      <%= s.text_field :source %>
    <% end %>
    <%= f.submit %>
<% end %>
</div>
