<h1>Quotilia</h1>
<div class="transitions-enabled" id="quotes">
<% @quotes.each do |n| %>
  <div class="box panel panel-default">
    <div class="quote">
      <div class="content">
        <h3>"<%= n.content %>"</h3>
      </div>
      <div class="panel-body">
          <div class="quoters">
            <% n.users.each do |p| %>
              <div class="quoter">
                <%= "Quoted by #{p.f_name} #{p.l_name}" %>
              </div>
            <% end %>
          </div>
          <div class="btn-group">
            <%= link_to "Details", quote_path(n), :class => "btn btn-xs"  %>
            <% if current_user %>
              <%= link_to "Edit", edit_quote_path(n), :class => "btn btn-xs"  %>
              <%= link_to "Delete", quote_path(n), :class => "btn btn-xs", method: :delete, data: {confirm: "Are you sure? Such a shame when knowledge is wasted..."} %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
<% end %>
</div>
