<h1>Quote <%=@quote.id%></h1>

<div class="quote">
  <div class="content">
    <%= @quote.content %>
  </div>
</div>

<%= link_to "All Quotes", quotes_path %>
<%= link_to "Edit", edit_quote_path %>
<%= link_to "Delete", quote_path, method: :delete, data: {confirm: "Are you sure? Such a shame when knowledge is wasted..."} %>
