<h1>Quote <%=@quote.id%></h1>

<div class="quote">
  <div class="content">
    <h3>"<%= @quote.content %>"</h3>
  </div>
</div>

<div class="Quoters">
  Quoted by
  <% @quote.users.each do |p| %>
    <%= "#{p.f_name} #{p.l_name}" %>
  <% end %>
</div>

<%= link_to "All Quotes", quotes_path, :class => "btn btn-default"  %>
<%= link_to "Edit", edit_quote_path, :class => "btn btn-default"  %>
<%= link_to "Delete", quote_path, :class => "btn btn-default", method: :delete, data: {confirm: "Are you sure? Such a shame when knowledge is wasted..."} %>
