<!DOCTYPE html>
<html>
<head>
  <title>Quotilia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Quotilia", quotes_path, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user %>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Find Quotes</button>
      </form> -->
      <div class="navbar-left">
        <%= link_to "Add Quote", new_quote_path, :class => "btn btn-default navbar-btn"  %>
      </div>
      <div class="navbar-left">
        <%= link_to "Create Post", new_post_path, :class => "btn btn-default navbar-btn"  %>
      </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li> <%= link_to "Dashboard", user_path(current_user.id) %> </li>
                  <li> <%= link_to "Account", edit_user_path(current_user.id) %> </li>
                  <li role="separator" class="divider"></li>
                  <li> <%= link_to "Logout", logout_path, method: :delete, data: {confirm: 'Are you sure?'} %> </li>
              </ul>
          </li>
        <% else %>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <% flash.each do |name, message| %>
    <div class="alert alert-info flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
